@import './breackpoints.scss';

.custom-modal-background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 40;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.custom-modal-wrapper {
  background: var(--white);
  border: 1px solid var(--gray-medium);
  box-shadow: 0 5px 8px 0 var(--gray-dark), 0 7px 20px 0 var(--gray-dark);
  transition: all 1s;
  border-radius: 10px;
  padding: 0.3rem;
  position: fixed;
  box-sizing: border-box;
  z-index: 50;
  width: 60%;
  right: 0;
  left: 0;
  top: 25%;
  margin-right: auto;
  margin-left: auto;
  width: 90%;

  @include respond-to('medium') {
    width: 70vw;
  }

  @include respond-to('large') {
    width: 50vw;
  }

  @include respond-to('xxlarge') {
    // top: 20%;
  }

  .header {
    background: var(--gray);
    padding: 1rem 1.5rem;
    text-align: center;

    .title {
      margin: 0;
      text-align: center;
    }
  }

  .body {
    padding: 1rem;
  }
}
