@import './breackpoints.scss';

.graph-branchycephaly-background {
  background-color: var(--gray);
  height: 100vh;
  left: 0rem;
  margin: 0rem !important;
  position: fixed;
  top: 0rem;
  transition: all 0.8s;
  width: 100vw;
  z-index: 10;
}

.graph-branchycephaly-col {
  border-radius: 10px;
  height: fit-content;
  // top: 5%;
  width: 500px;

  // @include respond-to("medium") {
  //   display: flex;
  //   justify-content: center;
  //   width: fit-content;
  // }

  // @include respond-to("large") {
  //   display: flex;
  //   justify-content: center;
  //   width: 800px;
  // }

  .title {
    text-align: center;
    @include respond-to('xxlarge') {
      font-size: large;
    }
  }

  .graph-branchycephaly-form {
    height: 90vh;
    max-height: 100% !important;
    background-color: var(--white);
    margin: 1rem 0rem;
    padding: 0rem !important;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include respond-to('medium') {
      padding: 2rem;
    }

    .chart-container {
      margin-top: 125px;
      transform: rotate(90deg);
      width: 65vh !important;
      position: relative;
      padding-right: 1em;
      font-size: 0.6em;

      @include respond-to('medium') {
        margin-top: 0px;
        transform: none !important;
        width: 90vw !important;
        font-size: 0.8em;
      }

      @include respond-to('large') {
        margin-top: 0px;
        transform: none !important;
        width: 70vw !important;
      }

      .chart-description {
        background-color: var(--white);
        border: 2px solid var(--blue-one);
        font-weight: bold;
        opacity: 0.8;
        padding: 0.5em 0.5em;
        margin: 0 1em;
      }

      .aside-info {
        position: absolute;
        right: -10em;
        top: 50%;
        transform: rotate(-90deg) translateY(-20%);
      }

      .inside-info {
        position: absolute;
        top: 53%;
        width: 70%;
        left: 8em;
        transform: translateY(-50%);
        border: none !important;
        font-weight: bold;
        text-align: center;
        .row {
          padding: 1.4em 0;
        }
        .chart-description {
          border: none;
          padding: 0.1em;
        }
      }
    }

    .btn-column {
      text-align: center;
      background-color: transparent;
    }
  }
}
